<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=8.0, minimum-scale=1, user-scalable=yes"/>
    <meta name="apple-mobile-web-app-title" content="WildStream">
    <meta name="application-name" content="WildStream">
    
    <link rel="shortcut icon" type="image/png" href="icons/favicon-240x240.png">
    <link rel="apple-touch-icon" href="icons/favicon-240x240.png" sizes="240x240">
    <link rel="icon" type="image/png" sizes="240x240" href="icons/favicon-240x240.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
