[Unit]
Description=Load up all the necessary startup scripts for the camera streaming things
After=multi-user.target

[Service]
ExecStart=/usr/bin/bash /home/jfaku/Video_Streaming/scripts/startup.sh
User=root

[Install]
WantedBy=multi-user.target
